#OAUTH
GITHUB_TOKEN=""
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
#COMMMON
NODE_OPTIONS="--no-node-snapshot"
#DATABASE
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
#ARGOCD
ARGOCD_URL=''
ARGOCD_AUTH_TOKEN=''
#GITHUB 
GITHUB_ORG=''